# AWS Configuration
AWS_REGION=ap-southeast-2
AWS_ACCOUNT_ID=233693675018

# Database
DB_HOST=aap-rds-postgresdb-l4ni2pd9nmnz.cv2usk6ye3hm.ap-southeast-2.rds.amazonaws.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=YOUR_RDS_PASSWORD_HERE

# Bedrock Agent
BEDROCK_AGENT_ID=RHXKOV2RC6
BEDROCK_AGENT_ALIAS_PROD=IZ2LXK29BT

# OpenAI
OPENAI_API_KEY=YOUR_OPENAI_KEY_HERE

# Cognito
COGNITO_DOMAIN=https://aap-uat-20251014.auth.ap-southeast-2.amazoncognito.com
COGNITO_CLIENT_ID=20bsno0fmojtchqem9vacrlivt
COGNITO_USER_POOL_ID=ap-southeast-2_TFmPkO0Lc

# Frontend
VITE_AGENTCORE_URL=http://localhost:8000/agentcore